.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 0;
}
.board {
  background-color: #205072;
  width: 480px;
  height: 480px;
  font-size: 3rem;
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
  border: 1rem solid #205072;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.board div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board div span {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: inset -6px -6px 1px #113147;
}
.turns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.turns p {
  font-size: 2rem;
}
.turns div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: .7rem;
}
.turns div span{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.turns div.is-selected {
  transform: scale(110%);
  background-color: #7d9bb1;
}
span.black {
  background-color: rgb(22, 24, 28);
}
span.red {
  background-color: red;
}
span.yellow {
  background-color: yellow;
}
.board div span.red {
  box-shadow: inset -3px -3px 1px #113147;
}
.board div span.yellow {
  box-shadow: inset -3px -3px 1px #113147;
}
.board div span.winner-orange {
  background-color: orange;
  box-shadow: inset -3px -3px 1px #113147;
}
.is-winner span {
  transform: scale(130%);
  animation-name: grow;
  animation-duration: 4s;
}
@keyframes grow {
  from {transform: scale(80%);}
  to {transform: scale(150%);}
}
.reset {
  border: 2px solid #91adc2;
  border-radius: 1rem;
  padding: .5rem 1.2rem;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.reset img {
  width: 1.4rem;
}