.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 0;
}
.board {
  background-color: #205072;
  width: 480px;
  height: 400px;
  font-size: 3rem;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(7, 1fr);
  border: 1rem solid #205072;
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.board div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board div span {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: inset -6px -6px 1px #113147;
}
.turns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.turns p {
  font-size: 2rem;
}
.turns div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: .7rem;
}
.turns div span{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.turns div.is-selected {
  transform: scale(110%);
  background-color: #7d9bb1;
}
span.black {
  background-color: rgb(22, 24, 28);
}
span.red {
  background-color: red;
}
span.yellow {
  background-color: yellow;
}
.board div span.red {
  box-shadow: inset -3px -3px 1px #113147;
}
.board div span.yellow {
  box-shadow: inset -3px -3px 1px #113147;
}
.board div span.winner-color {
  background-color: orange;
  box-shadow: inset -3px -3px 1px #113147, 0px 5px 10px 0px rgba(0,255,255,0.7);
}
.is-winner span {
  transform: scale(130%);
  animation-name: grow;
  animation-duration: 4s;
}
@keyframes grow {
  from {transform: scale(80%);}
  to {transform: scale(150%);}
}
.reset {
  border: 2px solid #91adc2;
  border-radius: 1rem;
  padding: .5rem 1.2rem;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  cursor: pointer;
}
.reset img {
  width: 1.4rem;
}

.main-modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.card-modal {
  position: relative;
  width: 500px;
  height: 430px;
  padding: 1rem 2rem;
  margin-top: 200px;
  border-radius: .5rem;
  background-color: #F2F2EF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}
.card-modal li {
  padding-bottom: .5rem;
  color: #205072
}
.card-modal section {
  width: 100%;
  padding-bottom: .5rem;
  display: flex;
  justify-content: space-between;
}
.card-modal img {
  width: 140px;
  border: 1px solid rgb(189, 203, 231);
  border-radius: .3rem;
}
.card-modal button {
  background-color: #205072;
  color: #F2F2EF;
  border: none;
  font-size: 1rem;
  border-radius: .5rem;
  padding: .5rem 1rem;
}
.card-modal button:hover {
  background-color: #113147;
  scale: 103%;
}

@media screen and (max-width: 768px) {
  .main {
    transform: scale(85%);
  }  
}

@media screen and (max-width: 500px) {
  .main {
    transform: scale(65%);
  }  
}